################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/trilha-net-banco-de-dados-desafio/v17
/.vs/trilha-net-banco-de-dados-desafio/FileContentIndex/a9864d5e-08b0-4926-8a05-cf9da64a9f4d.vsidx
/.vs/trilha-net-banco-de-dados-desafio/FileContentIndex
/.vs
